.headerBox {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.pageTagBox {
  grid-column: 1 / 2;
  grid-row: 2 / 10;
}

.contentBox {
  grid-column: 1 / 13;
  grid-row: 2 / 14;
  overflow: hidden;
}
