// Colors
$black: #000;
$dark-grey: #5a5753;
$light-grey: #acacab;
$beige: #fffaf1;
$sand: #f5d5a4;
$dark-sand: #e4a957;

// Fonts
$garamond: "Cormorant Garamond";
$merri: "Merriweather Sans";

// Background color of the entire app
$app-background-color: $beige;

// Media brake points

$desktop-breakpoint: 992px;
