@import "/src/styles/variables.module.scss";

// AboutMe section styles

.aboutMeSection {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 76px);

  font-family: $garamond;
  justify-content: space-between;
  overflow: hidden;
}

.textBox {
  display: flex;
  gap: 3vw;
  flex-direction: column;
  position: relative;
  top: 6vh;
  left: 15vw;
  width: 80%;
  font-weight: 500;
  z-index: 2;

  .greeting {
    width: 80vw;
    font-size: 250%;
    font-weight: 700;
    color: #e4a957;
  }

  .openingText {
    font-size: 2.5vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .introText {
    display: flex;
    font-size: 2.3vh;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    width: 35%;
    gap: 1.5vw;
    font-size: 150%;
  }
}

// ProfilePic component styles
.profilePic {
  clip-path: circle(50%);
  width: 100%;
}

.animate {
  position: absolute;
  z-index: 1;
  transform-origin: center center;
  width: 125%;
  left: -3.5vw;
  top: -3.5vw;
  animation: spin 60s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// TypeWriter styles
.cursor {
  font-weight: bolder;
  border-right: solid 3px rgb(0, 0, 0);
  animation: cursorAnimation 1s infinite;
}

@keyframes cursorAnimation {
  10% {
    border-right: solid 3px rgba(0, 0, 0, 0);
  }
  70% {
    border-right: solid 3px rgba(0, 0, 0, 0);
  }
}
